#jinja2: trim_blocks: "true", lstrip_blocks: "false"
version: "3.0"

{% if prod is defined %}
networks:
  {{docker_external_network}}:
    external: true
  internal:
    external: false
{% endif %}


services:
  {{traefik_container_name}}:
    image: traefik:{{traefik_image_version}}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{traefik_container_name}}.service=api@internal"
      - "traefik.http.routers.{{traefik_container_name}}.rule=Host(`{{traefik_container_name}}.{{my_domain}}`)"
      {% if prod is undefined %}
      - "traefik.http.routers.{{traefik_container_name}}.entrypoints=http"
      {% endif %}
      {% if tr_https_enable == "true" %}
      - "traefik.http.routers.{{traefik_container_name}}.entrypoints=https"
      - "traefik.http.routers.{{traefik_container_name}}.tls=true"
      {% endif %}
      {% if tr_acme == "true" %}
      - "traefik.http.routers.{{traefik_container_name}}.tls.certresolver=letsEncrypt"
      {% endif %}
      {% if prod is defined %}
    networks:
      - {{docker_external_network}}
      {% endif %}
    ports:
      - "80:80"
      {% if prod is defined %}
      - "443:443"
      {% endif %}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik.yml:/traefik.yml:ro
      {% if tr_acme == "true" %}
      - ./acme.json:/acme.json
      {% endif %}

  {{stretchshop_container_name}}:
    image: wradgio/stretchshop:{{stretchshop_image_version}}
    env_file: docker-compose.env
    environment:
      PORT: {{stretchshop_default_port}}
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.{{stretchshop_container_name}}.loadbalancer.server.port={{stretchshop_default_port}}"
      - "traefik.http.routers.{{stretchshop_container_name}}.rule=Host(`{{stretchshop_container_name}}.{{my_domain}}`)"
      {% if prod is undefined %}
      - "traefik.http.routers.{{stretchshop_container_name}}.entrypoints=http"
      {% endif %}
      {% if tr_acme == "true" %}
      - "traefik.http.routers.{{stretchshop_container_name}}.tls.certresolver=letsEncrypt"
      {% endif %}
      {% if tr_https_enable == "true" %}
      - "traefik.http.routers.{{stretchshop_container_name}}.entrypoints=https"
      - "traefik.http.routers.{{stretchshop_container_name}}.tls=true"
      {% endif %}
      {% if prod is defined %}
      - "traefik.docker.network={{docker_external_network}}"
    networks:
      - internal
      - {{docker_external_network}}
      {% endif %}
    volumes:
      - /var/www/html/stretchshop/static:/app/public/assets/data
    links:
      - mongo
    depends_on:
      - mongo

  {{mongo_container_name}}:
    image: mongo:{{mongo_image_version}}
    restart: on-failure
    volumes:
      - {{mongo_volume}}:/data/db
      - {{mongo_conf}}:/etc/mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: {{mongo_initdb_root_username}}
      MONGO_INITDB_ROOT_PASSWORD: {{mongo_initdb_root_password}}
    {% if prod is defined %}
    networks:
      - internal
    {% endif %}
    labels:
      - "traefik.enable=false"
    ports:
      - "{{mongo_host_port}}:27017"

  nats-server:
    image: nats:{{nats_image_version}}
    ports:
      - "{{nats_host_port}}:4222"
    labels:
      - "traefik.enable=false"
    {% if prod is defined %}
    networks:
      - internal
    {% endif %}

