# Mandatory
NODE_ENV={{node_env}}
PORT={{application_port}}
NAMESPACE={{application_namespace}}
LOGLEVEL={{application_loglevel}}
JWT_SECRET={{application_jwt_secret}}
SERVICEDIR={{application_servicedir}}

# Optional
MONGO_URI='mongodb://{{mongo_container_name}}:27017/stretchshop_demo'
ASSETS_PATH={{assets_path}}
ASSETS_URL='http://yoursite:{{assets_url_port}}/static/'

# Optional (Email)
EMAIL_DEFAULTS_FROM={{email_defaults_from}}
EMAIL_DEFAULTS_SUBJECT={{email_defaults_subject}}
EMAIL_SMTP_HOST={{email_smtp_host}}
EMAIL_SMTP_PORT={{email_smtp_port}}
EMAIL_SMTP_SECURE={{email_smtp_secure}}
EMAIL_SMTP_AUTH_USER={{email_smtp_auth_user}}
EMAIL_SMTP_AUTH_PASS={{email_smtp_auth_pass}}
EMAIL_SMTP_CIPHERS={{email_smtp_ciphers}}

# Sending order
SENDING_ORDER_URL={{sending_order_url}}
SENDING_ORDER_PORT={{sending_order_port}}
SENDING_ORDER_LOGIN={{sending_order_login}}
SENDING_ORDER_PWD={{sending_order_pwd}}

# Paypal
PAYPAL_ENV={{paypal_env}}
PAYPAL_CLIENT_ID={{paypal_client_id}}
PAYPAL_SECRET={{paypal_secret}}

# Braintree
BRAINTREE_ENV={{braintree_env}}
BRAINTREE_MERCHANT_ID={{braintree_merchant_id}}
BRAINTREE_PUBLIC_KEY={{braintree_public_key}}
BRAINTREE_PRIVATE_KEY={{braintree_private_key}}

# Recaptcha
RECAPTCHA_URL={{recaptcha_url}}
RECAPTCHA_SECRET={{recaptcha_secret}}

# Cookies
COOKIES_SECURE={{cookies_secure}}
COOKIES_SAME_SITE={{cookies_same_site}}
# HTTPS_KEY={[https_key]}
# HTTPS_CERT={{https_cert}}